# npm
node_modules
api/prisma/generated
package-lock.json
*.log
*.env*
!*.env.example
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore